<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @canchitum.name %>
</p>

<p>
  <b>Local:</b>
  <%= @canchitum.local %>
</p>

<p>
  <b>Max players:</b>
  <%= @canchitum.max_players %>
</p>


<%= link_to 'Edit', edit_canchitum_path(@canchitum) %> |
<%= link_to 'Back', canchita_path %>
